.content {
  display: flex;
  flex-direction: row;
}

.book {
  border: 1px solid #ddd;
  width: 50%;
  text-align: center;
}

.book__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book__column {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book__total {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.offer {
  background-color: grey;
  text-align: center;
  width: 70%;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0 0 3px darkgray;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* diagonal stripes background with transparency between */
.offer__matched {
  background-image: repeating-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5) 10px,
    transparent 10px,
    transparent 20px
  );
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.offer__text {
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.offer__text--small {
  font-size: 8px;
}

.offer--ask {
  background-color: coral;
}

.offer--bid {
  background-color: darkseagreen;
}
